<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Concetration.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD8AC7A322285B1600CA1F57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD8AC7B722285B1700CA1F57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD8AC7C222285B1700CA1F57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
